<?xml version="1.0"?>
<configuration>
	<configSections>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
		</sectionGroup>
	</configSections>
	<system.diagnostics>
		<sources>
			<!-- This section defines the logging configuration for My.Application.Log -->
			<source name="DefaultSource" switchName="DefaultSwitch">
				<listeners>
					<add name="FileLog"/>
					<!-- Uncomment the below section to write to the Application Event Log -->
					<!--<add name="EventLog"/>-->
				</listeners>
			</source>
		</sources>
		<switches>
			<add name="DefaultSwitch" value="Information"/>
		</switches>
		<sharedListeners>
			<add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
			<!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
			<!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
		</sharedListeners>
	</system.diagnostics>
   <startup useLegacyV2RuntimeActivationPolicy="true">
      <supportedRuntime version="v2.0.50727"/>
      <supportedRuntime version="v4.0"/>
   </startup>
	<userSettings>
		<My.MySettings>
   <setting name="fontName" serializeAs="String">
    <value />
   </setting>
   <setting name="separator" serializeAs="String">
    <value />
   </setting>
   <setting name="toolbarLocation" serializeAs="String">
    <value />
   </setting>
   <setting name="user" serializeAs="String">
    <value />
   </setting>
   <setting name="key" serializeAs="String">
    <value />
   </setting>
   <setting name="lang" serializeAs="String">
    <value />
   </setting>
   <setting name="u_order" serializeAs="String">
    <value>https://1Tree.info/order-pro.htm?source=ui</value>
   </setting>
   <setting name="u_home" serializeAs="String">
    <value>https://1Tree.info/pro.htm?source=ui</value>
   </setting>
   <setting name="u_company" serializeAs="String">
    <value>https://www.TriSunSoft.com/?source=1tp-ui</value>
   </setting>
   <setting name="u_usage" serializeAs="String">
    <value>https://1Tree.info/pro.htm?selectedTab=usage</value>
   </setting>
   <setting name="u_updates" serializeAs="String">
    <value>https://1Tree.info/pro.htm?selectedTab=updates</value>
   </setting>
   <setting name="u_support" serializeAs="String">
    <value>https://1tree.info/support.htm</value>
   </setting>
   <setting name="u_translate" serializeAs="String">
    <value>https://www.trisunsoft.com/translate.htm</value>
   </setting>
   <setting name="u_recommend" serializeAs="String">
    <value>https://1Tree.info/pro.htm?selectedTab=recommend</value>
   </setting>
   <setting name="u_facebook" serializeAs="String">
    <value>https://www.facebook.com/TriSunSoftware/</value>
   </setting>
   <setting name="u_twitter" serializeAs="String">
    <value>https://twitter.com/TSSIShareware</value>
   </setting>
   <setting name="u_key" serializeAs="String">
    <value>https://www.trisunsoft.com/contact.htm?selectedTab=key</value>
   </setting>
   <setting name="u_package" serializeAs="String">
    <value>https://1Tree.info/p/1tree-pro.zip</value>
   </setting>
   <setting name="u_ver" serializeAs="String">
    <value>http://www.1Tree.info/latestver-p.txt</value>
   </setting>
   <setting name="no_upgrade_keys" serializeAs="String">
    <value>|XXXX-XXXX-XXXX-XXXX@2.1|TOTP-ZDLZ-SGZC-GZLD@3.0|TOTP-ZDGJ-SGZC-GZLD@4.0|TOTP-ZGDZ-SGZS-ZLLL@4.1|TOTP-ZZGG-SGGP-ZCZZ@4.1|</value>
   </setting>
   <setting name="u_order_de" serializeAs="String">
    <value>https://1Tree.info/de/order-pro.htm?source=ui</value>
   </setting>
   <setting name="u_home_de" serializeAs="String">
    <value>https://1Tree.info/de/pro.htm?source=ui</value>
   </setting>
   <setting name="u_company_de" serializeAs="String">
    <value>https://www.TriSunSoft.com/de/?source=1tp-ui</value>
   </setting>
   <setting name="u_company_fr" serializeAs="String">
    <value>https://www.TriSunSoft.com/fr/?source=1tp-ui</value>
   </setting>
   <setting name="u_usage_de" serializeAs="String">
    <value>https://1Tree.info/de/pro.htm?selectedTab=usage</value>
   </setting>
   <setting name="u_support_de" serializeAs="String">
    <value>https://1tree.info/de/support.htm</value>
   </setting>
   <setting name="u_recommend_de" serializeAs="String">
    <value>https://1Tree.info/de/pro.htm?selectedTab=recommend</value>
   </setting>
   <setting name="u_key_de" serializeAs="String">
    <value>https://www.trisunsoft.com/de/contact.htm?selectedTab=key</value>
   </setting>
   <setting name="u_key_fr" serializeAs="String">
    <value>https://www.trisunsoft.com/fr/contact.htm?selectedTab=key</value>
   </setting>
   <setting name="u_order_sc" serializeAs="String">
    <value>https://1Tree.info/sc/order-pro.htm?source=ui</value>
   </setting>
   <setting name="u_home_sc" serializeAs="String">
    <value>https://1Tree.info/sc/pro.htm?source=ui</value>
   </setting>
   <setting name="u_usage_sc" serializeAs="String">
    <value>https://1Tree.info/sc/pro.htm?selectedTab=usage</value>
   </setting>
   <setting name="u_support_sc" serializeAs="String">
    <value>https://1tree.info/sc/support.htm</value>
   </setting>
   <setting name="u_recommend_sc" serializeAs="String">
    <value>https://1Tree.info/sc/pro.htm?selectedTab=recommend</value>
   </setting>
   <setting name="u_order_tc" serializeAs="String">
    <value>https://1Tree.info/tc/order-pro.htm?source=ui</value>
   </setting>
   <setting name="u_home_tc" serializeAs="String">
    <value>https://1Tree.info/tc/pro.htm?source=ui</value>
   </setting>
   <setting name="u_usage_tc" serializeAs="String">
    <value>https://1Tree.info/tc/pro.htm?selectedTab=usage</value>
   </setting>
   <setting name="u_support_tc" serializeAs="String">
    <value>https://1tree.info/tc/support.htm</value>
   </setting>
   <setting name="u_recommend_tc" serializeAs="String">
    <value>https://1Tree.info/tc/pro.htm?selectedTab=recommend</value>
   </setting>
  </My.MySettings>
	</userSettings>
</configuration>
